html, body{
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
}

.intro{
    height:100%;
    padding:0;
    display:table;
    width:100%;

}
.intro-body{
    display:table-cell;
    vertical-align:middle;
}

h1,h2,h3{
    font-weight:lighter
}

#errorPage{
    background: url(../images/ErrorPageBG.jpg) no-repeat bottom center scroll;
    background-color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.whiteTextBox{
    background:rgba(255 ,255 ,255 , 0.5);
    padding:30px;
}

.errorDescription{
    font-size:1.6em;
    font-weight:lighter;
}

.errorDescription p{
    margin:1.5em 0 1.5em 0;
}

a.moicolor{
  color:#03ccd3;
}
