body {
    text-align: left;
    margin: 25px 0;
    padding: 0px;
    background:#fff;
    color:#000;
    font: 11px/12px "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
    text-align: center;
}
a {
    text-decoration:none;
}

.center{
    float:none;
    margin:0 auto;
}
.margin-top-sm{
    margin-top:10px;
}
.margin-top-md{
    margin-top:30px;
}
.margin-top-lg{
    margin-top:50px;
}


.header {
    text-align: center;
    margin-bottom: 50px;
    word-wrap:break-word;
}

.header-title {
    text-align:center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 46px;
    letter-spacing: 18pt;
    color: #ddd;
    padding:0;
    margin: 0 0 30px 0;

}

.header.home .header-title {
    color: #333;
    margin:15% 0 30px 12pt;
    padding-left:inherit;
}
.navbar .navbar-nav{
    display:inline-block;
    float:none;
    vertical-align:top;
}
.navbar-collapse{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9px;
    letter-spacing: 3px;
    margin: 0px;
    padding: 0px;
    text-align:center;
}
.navbar-default{
    background:none;
    border:none;
    box-shadow:none;
}

.nav .dropdown button, .nav .dropdown ul.dropdown-menu li a{
    font:11px/12px "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
    background:transparent;
    text-decoration:none;
    color:#333;
    line-height:20px;
    position:relative;
    display:block;
    text-shadow:0 1px 0 rgba(255,255,255,.25);
    padding: 10px 19px 10px 22px;
    text-transform:uppercase;
    font-weight:bold;
    font-size:9px;
    letter-spacing:3px;
    border-radius:inherit;
}

.nav .dropdown ul.dropdown-menu li a{
    text-align:center;
}
.nav .dropdown ul.dropdown-menu{
    border-radius:inherit;
}
.nav .dropdown button:hover,  .nav .dropdown ul.dropdown-menu li a:hover{
    background:#666;
    color:#fff;
}

.header.home .nav li a.cat, .header.home .nav .dropdown button, .header.home  .nav .dropdown ul.dropdown-menu li a {
    color: #999;
}

.header.home .nav li a.cat:hover, .header.home .nav .dropdown button:hover , .header.home  .nav .dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}

.nav li a.cat, .nav li span.cat  {
    text-decoration: none;
    color: #333;
    padding: 10px 19px 10px 22px;
}

.nav li span.cat {
    color: #999;
}

.nav li span.main {
    color: #fff;
    background: #333;
}

.nav li a.cat:hover {
    background: #666;
    color: #fff;
}

#piece {
    text-align: center;
}


#piece #image {
    float:none;
    margin:0 auto;
}

#piece #image, #details{
margin-bottom: 25px;
}


#details {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#details .title, #details .year, #details .media, #details .year, #details .dimensions,  #details .price{
    padding: 5px;
    float:none;
}
#details .media, #details .year, #details .dimensions {
    color: #999;
    font-size: 9px;
}

#details .price  {
    color: #333;
    font-size: 9px;
}

#piece #navigation a{
     padding-right:5px;
}

.category {
    margin-bottom: 20px;
}


.category .description h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9px;
    letter-spacing: 3px;
    margin: 40px 20px 0 0;
}


.contact-container div{
    text-align:left;
}
.contact-social-icons ul{
    padding-left:inherit;
}
.contact-social-icons ul li{
    list-style:none;
    display:inline-block;
    padding:0px 10px 10px 10px;
}
.contact-social-icons ul li img{
    width:25px;
    height:25px;
    border-radius:15px;
    margin-bottom:3px;
}
.social-icon{
    background-color:#fff;
    color:#000;
    display:block;
    font-size:1.3em;
    width:26px;
    height:26px;
    line-height:25px;
    text-align:center;
    border:1px solid #333;
    border-radius:15px;
}

.contact-social-icons ul li a:hover{text-decoration:none;}

.contact-social-icons ul li a:hover .social-icon, .contact-social-icons ul li a:hover img{
    font-size:1.3em;
    background-color:#999;
}
.sidebar {
    text-align: justify;
    font: 15px/28px Georgia, "Times New Roman", Times, serif;
    color: #ccc;
}


.sidebar .author {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.sidebar .credits {
    text-transform: uppercase;
    font-size: 9px;
    line-height: 15px;
}

.sidebar strong {
    font-size: 21px;
    font-weight: normal;
}

.emailto {
    font-size: 12px;
    line-height: 25px;
    text-align: justify;
    color: #333;
}

.emailto a {
    text-decoration: none;
    color: #999;
}

.emailto a:hover {
    color: #333;
}


label.form-group, #form-messages{
    color: #666;
    display: block;
    font-size: 9px;
    float: left;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    letter-spacing: 2pt;
}
#contact_form input{
    color:#666;
    font-size:9px;
    letter-spacing:2pt;
    padding-left:10px;
}
#contact_form textarea{
    font-size:10px;
    letter-spacing:2pt;
}


.maincol{
    font-size:12px;
    line-height:25px;
    text-align:justify;
    color:#333;
}
.maincol input, .maincol textarea {
    margin:  3px 0px 5px 0px ;
}

.maincol p.msg {
    font-size: 11px;
    line-height: 16px;
    background: #666;
    color: #fff;
    padding: 10px 15px;
}

.maincol br {
    clear: both;
}

.maincol strong {
    font-size: 18px;
}

.contactform {
    padding: 25px 0px;
}

.footer .credit a{
    color:#03CCD3;
    text-decoration:none;
}

.thumb {
    margin-bottom: 30px;
}
.thumbnail img{
    min-height:120px;
    height:120px;
}

#imageWrap{
    min-width:20px;
    min-height:20px;
    background:url('/portfolio/ArtMoiPHP/images/loading.gif') 20px 20px;
}


@media (max-width:991px) {
    .header .header-title{
        font-size:2.5em;
        margin:0 0 0 0;
    }
    .header.home .header-title{
        font-size:2.5em;
        margin:0 0 0 0;
    }

    #details .title, #details .year, #details .media, #details .year, #details .dimensions, #details .price {
        float:left;
    }
    .thumbnail img{
        min-height:inherit;
        height:inherit;
    }
}
